openapi: 3.0.4

info:
  title: Weather Frontend API
  description: |-
    This is a sample Weather Frontend API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.1.0

servers:
  - url: /v1

tags:
  - name: current
    description: Current weather API
  - name: geocoding
    description: Geocoding API

paths:
  /current:
    get:
      tags:
      - current
      description: Accepts a geographical coordinates and responds with a JSON current weather data.
      operationId: inquiry
      parameters:
      - name: latitude
        in: query
        required: true
        description: Geographical WGS84 coordinates of the location.
        schema:
          type: number
          format: double
          minimum: -90
          maximum: 90
      - name: longitude
        in: query
        required: true
        description: Geographical WGS84 coordinates of the location.
        schema:
          type: number
          format: double
          minimum: -180
          maximum: 180
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Weather'
        default:
          description: Unexpected error

  /search:
    get:
      tags:
      - geocoding
      description: Accepts a search term and returns a list of matching locations.
      operationId: searchLocation
      parameters:
      - name: name
        in: query
        required: true
        description: String to search for. An empty string or only 1 character will return an empty result. 2 characters will only match exact matching locations. 3 and more characters will perform fuzzy matching. The search string can be a location name or a postal code.
        schema:
          type: string
      - name: count
        in: query
        description: The number of search results to return. Up to 100 results can be retrieved.
        schema:
          type: integer
          format: int32
          maximum: 100
          default: 10
      - name: language
        in: query
        description: Return translated results, if available, otherwise return english or the native location name. Lower-cased.
        schema:
          type: string
          default: en
      - name: countryCode
        in: query
        description: ISO-3166-1 alpha2 country code, which the results will be filtered for.
        schema:
          type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResult'
        default:
          description: Unexpected error

components:
  schemas:
    SearchResult:
      description: The dataset fetched by the search operation
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/SearchResultItem'
      required:
      - items
    SearchResultItem:
      description: An item fetched by the search operation
      type: object
      properties:
        id:
          type: integer
          format: int32
          description: Unique ID for this location
        name:
          type: string
          description: Location name. Localized following the &language= parameter, if possible
        latitude:
          type: number
          format: double
          description: Geographical WGS84 coordinates of this location
        longitude:
          type: number
          format: double
          description: Geographical WGS84 coordinates of this location
        elevation:
          type: number
          format: double
          description: Elevation above mean sea level of this location
        timezone:
          type: string
          description: Timezone of this location
        country_code:
          type: string
          description: 2-Character ISO-3166-1 alpha2 country code.
          example: DE
          externalDocs:
            url: https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2
        country:
          type: string
          description: Country name. Localized following the &language= parameter, if possible
          example: Germany
        population:
          type: integer
          format: int32
          description: Number of inhabitants
      required:
      - id
      - name
      - latitude
      - longitude
      - country_code
    Weather:
      description: The weather information at the given latitude and longitude
      type: object
      properties:
        latitude:
          type: number
          format: double
          description: WGS84 of the center of the weather grid-cell which was used to generate this forecast. This coordinate might be a few kilometres away from the requested coordinate.
        longitude:
          type: number
          format: double
          description: WGS84 of the center of the weather grid-cell which was used to generate this forecast. This coordinate might be a few kilometres away from the requested coordinate.
        elevation:
          type: number
          format: double
          description: The elevation from a 90 meter digital elevation model. This effects which grid-cell is selected (see parameter cell_selection). Statistical downscaling is used to adapt weather conditions for this elevation. This elevation can also be controlled with the query parameter elevation. If &elevation=nan is specified, all downscaling is disabled and the averge grid-cell elevation is used.
        timezone:
          type: string
          description: Timezone identifier
        time:
          type: string
          format: date-time
        temperature:
          type: number
          format: double
          description: Air temperature at 2 meters above ground
      required:
      - latitude
      - longitude
      - timezone
      - time
      - temperature